<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{>header}}

    <form action="" >
        <fieldset class="section">
            <legend>Details!!</legend>
            <div id="detail-div">
                <table class="data">
                    <tr>
                        <td>From</td>
                        <td>{{vehicle.from}}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{vehicle.to}}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{vehicle.date}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{vehicle.name}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{vehicle.phone}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle No</td>
                        <td>{{vehicle.vehicleNo}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle Info</td>
                        <td>{{vehicle.vehicleInfo}}</td>
                    </tr>
                    <tr>
                        <td>Driving License No</td>
                        <td>{{vehicle.licenseNo}}</td>
                    </tr>
                    <tr>
                        <td>Capacity</td>
                        <td>{{vehicle.capacity}}</td>
                    </tr>
                </table>
            </div>

        </fieldset>
    </form>
    
    {{>footer}}
    
</body>
</html>