<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"  />
</head>
<body>

    {{>header}}

    <div class="bg-img">

    <section class="detail-format">
        <fieldset class="section">
            <legend>Details!!</legend>
            <div id="detail-div">
                <table class="data">
                    <tr>
                        <td>From</td>
                        <td>{{vehicle.from}}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{vehicle.to}}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{vehicle.date}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{vehicle.name}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{vehicle.phone}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle No</td>
                        <td>{{vehicle.vehicleNo}}</td>
                    </tr>
                    <tr>
                        <td>Vehicle Info</td>
                        <td>{{vehicle.vehicleInfo}}</td>
                    </tr>
                    <tr>
                        <td>Driving License No</td>
                        <td>{{vehicle.licenseNo}}</td>
                    </tr>
                    <tr>
                        <td>Capacity</td>
                        <td>{{vehicle.capacity}}</td>
                    </tr>
                </table>
            </div>

        </fieldset>
    </section>

    </div>
    
    {{>footer}}

    <script src="js/script.js"></script>
    
</body>
</html>