<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"  />
</head>
<body>
    
    {{>header}}

    <div class="bg-img size-view">
        <section id="motion-rl" >
            <div>
                <marquee bgcolor="#ccc" behavior="" direction="">|| We aim to provide the best logistics solutions, ensuring safe and efficient transportation of goods and resources. ||</marquee>
            </div>
        </section>
        
        <section id="table-login">
            <div class="split left">

                <!-- <div class="search">
                    <div class="search-from box">
                        <input type="search" name="from" id="from" placeholder="From">    
                    </div>
                    <div class="search-to box">
                        <input type="search" name="to" id="to" placeholder="To">
                    </div>
                    <div class="search-btn">
                        <button type="submit">search</button>
                    </div>
                </div> -->

                {{!-- <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Departure Date</th>
                                <th>P.No.</th>
                                <th>More Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Gwalior</td>
                                <td>Delhi</td>
                                <td>11/9/2024</td>
                                <td>123456789</td>
                                <td><a href="/detail">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div> --}}
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Date</th>
                                <th>Vehicle No</th>
                                <th>More Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each vehicles}}
                            <tr>
                                <td>{{this.from}}</td>
                                <td>{{this.to}}</td>
                                <td>{{this.date}}</td>
                                <td>{{this.vehicleNo}}</td>
                                <td><a href="/detail/{{this._id}}">More Details</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    {{>footer}}

    <script src="js/script.js"></script>

</body>
</html>














